<div>
    <h2 id="page-heading">
        <span jhiTranslate="testDigLabApp.title.home.title">Titles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-title" [routerLink]="['/title/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testDigLabApp.title.home.createLabel">
            Create a new Title
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="titles?.length === 0">
        <span jhiTranslate="testDigLabApp.title.home.notFound">No titles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="titles && titles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testDigLabApp.title.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="testDigLabApp.title.fromDate">From Date</span></th>
                    <th scope="col" ><span jhiTranslate="testDigLabApp.title.toDate">To Date</span></th>
                    <th scope="col" ><span jhiTranslate="testDigLabApp.title.employee">Employee</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let title of titles ;trackBy: trackId">
                    <td><a [routerLink]="['/title', title.id, 'view']">{{ title.id }}</a></td>
                    <td>{{ title.title }}</td>
                    <td>{{ title.fromDate | date:'medium' }}</td>
                    <td>{{ title.toDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="title.employee">
                            <a [routerLink]="['/employee', title.employee?.id, 'view']" >{{ title.employee?.names }} {{ title.employee?.lastNames }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/title', title.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/title', title.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(title)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
