<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-heading" jhiTranslate="testDigLabApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testDigLabApp.employee.names" for="field_names">Names</label>
                    <input type="text" class="form-control" name="names" id="field_names"
                           formControlName="names"/>
                    <div *ngIf="editForm.get('names')!.invalid && (editForm.get('names')!.dirty || editForm.get('names')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('names')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('names')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testDigLabApp.employee.lastNames" for="field_lastNames">Last Names</label>
                    <input type="text" class="form-control" name="lastNames" id="field_lastNames"
                           formControlName="lastNames"/>
                    <div *ngIf="editForm.get('lastNames')!.invalid && (editForm.get('lastNames')!.dirty || editForm.get('lastNames')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastNames')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastNames')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testDigLabApp.employee.gender" for="field_gender">Gender</label>
                    <!--input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/-->
                    <select class="form-control" name="gender" id="field_gender"
                    formControlName="gender">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <div *ngIf="editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gender')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 1 }">
                        This field cannot be longer than 1 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testDigLabApp.employee.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="d-flex">
                        <input id="field_birthDate" type="datetime-local" class="form-control" name="birthDate" formControlName="birthDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('birthDate')!.invalid && (editForm.get('birthDate')!.dirty || editForm.get('birthDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('birthDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('birthDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testDigLabApp.employee.hireDate" for="field_hireDate">Hire Date</label>
                    <div class="d-flex">
                        <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" formControlName="hireDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('hireDate')!.invalid && (editForm.get('hireDate')!.dirty || editForm.get('hireDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hireDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('hireDate')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
